appRoute = "http://localhost:3000/"
filePath = "http://localhost/expressblog/"

html
	head
		title NodeBlog
		script(src=appRoute + "socket.io/socket.io.js")
		script(src=filePath + "public/js/jquery.min.js")
		script(src=filePath + "public/js/script.js")
		link(rel="stylesheet", href=filePath + "public/css/styles.css")

		body
			div(class="wrapper")
				ul(id="topnav")
					li
						a(href=appRoute) View Blog
					li
						a(href=appRoute + "admin") Update
					li
						a(href=appRoute + "posts") Insert

				h1 Node Blog
				div(id="blog_posts")